/* Add this CSS to style your DynamicSchedule component */

/* Style for the form */
.time-slot-form {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 50px; */
  }
  
  .time-slot-label {
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column; 
    
  }
  .h1schedule {
    color: rgb(246, 255, 0);
    margin-bottom: 1rem;
    width: max-content;
    background-color: rgb(228, 148, 148);
    border-radius: .5rem;
    padding: 5px 5px;
}
  
  .time-slot-input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .time-slot-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 10rem;
  }
  
  .time-slot-button:hover {
    background-color: #45a049;
  }
  
  /* Style for the select dropdown */
  .time-slot-select {
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Style for the delete button */
  .time-slot-button.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .time-slot-button.delete-btn:hover {
    background-color: #d32f2f;
  }
  
  /* Container styles */
  .schedule {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #1f1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add some spacing between components */
  .schedule > * {
    margin-bottom: 15px;
  }
  .time-slot-button1{
    background-color: #ea2c55;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }