.container,.col{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 100vw; */
    /* margin: auto; */
}
.homecard{
   /* width: 40vw; */
   /* margin: 1rem 0; */
   /* min-width:40vw; */
   height: fit-content;
   /* max-width: 90vw; */
   width: 40vw;
   padding: 3rem;

}
/* div{
    padding: 5px;
} */

@media screen and (max-width: 600px) {
    .homecard{
        width: 45vw;
        padding: 2rem;

    }
}
    
