.login{
    width: 40vw;
    /* height: 99vh; */
    /* border: 2px solid rgb(0, 0, 0); */
    
border-style: double;
    padding: 3px;
    margin: 5rem 0;
    padding: 2rem;


}


@media screen and (max-width: 600px) {
    .login{
        width: 75vw;
        padding: 1rem;
        /* margin-top: ; */

    }
}
    
