.manualAttendance {
    background: linear-gradient(45deg, rgb(104, 92, 92), #000000);
    display: flex;
    /* width: 95vw; */
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

::-webkit-datetime-edit {
    padding: .2em;
}

::-webkit-datetime-edit-fields-wrapper {
    background: rgb(255, 255, 255);
}

::-webkit-datetime-edit-text {
    color: red;
    padding: 0 0.1em;
}

::-webkit-datetime-edit-month-field {
    color: blue;
}

::-webkit-datetime-edit-day-field {
    color: green;
}

::-webkit-datetime-edit-year-field {
    color: purple;
}

::-webkit-inner-spin-button {
    display: block;
}

/* ::-webkit-calendar-picker-indicator { background: rgb(255, 166, 0); } */
::selection {
    color: rgb(242, 255, 0);
}

.attendance-controls {
    text-align: center;
}

/* select
 {
    padding: .3rem;
    font-size: 3rem;
    color: rgb(255, 196, 0);
    background-color: rgb(40, 41, 35);
    width: 150px;
} */




.tb {
   min-width: 95vw;
    /* border-collapse: collapse; */
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
    /* margin-left: .4rem; */
    /* margin-right: .5rem; */
    /* height: 50vh; */
}

[type=date] {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}




.th,
.td {
    border: .2rem inset rgba(255, 255, 255, 0.597);
    font-size: 2rem;

    font-weight: 500;
    text-align: center;
}

.tr:hover,
.td:hover {
    background-color: rgb(30, 255, 0);
    color: black;
}

.th {
    font-weight: bold;
}

/* #pri {
    font-size: 4rem;
}

#vi {
    font-size: 4rem;
} */

@media screen and (max-width: 600px) {
    .tb {
        max-width: 99vw;
    }

    .manualAttendance {
        width: 100vw;
    }

    .th,
    .td {

        font-size: 1.3rem;
    }

}