.animated-button {
    /* display: inline-block; */
    width: max-content ;
    margin: auto;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #000000;
    display: block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px; /* Rounded corners */
    font-weight: bold;
    color: #fff;
    /* background: #1e1e1e; */
    position: relative;
    overflow: hidden;
    z-index: 1; /* Bring text layer to the front */
  
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* z-index: -; */
      color: #000000;
      background: #ffffff; /* Corrected background color */
      border-radius: 20px; /* Rounded corners for animation */
      transform: translateX(-100%);
      transition: transform .25s ease-out;
      z-index: -1; /* Place background layer behind text */
  
    }
  
    &:hover::before {
      transform: translateY(0%); /* Slide from left to right */
    }
    &:hover {
      color: #000000; /* Change text color to black on hover */
      /* border: 1px solid #000000; */

    }
  }